**/*.pyc
version-analyzer/results/*.csv
*.rsa

*.gz

*.log

*.txt

*.sublime-project
*.sublime-workspace

ts_backup_amazon/**/*.json
raw_data/local_events_settings.py
rawd2/local_rawd_settings.py
.spyderproject
.spyderworkspace
